@media(min-width: 1600px)
{
    .g-det{
        margin-top: 0%;
    }
    p.head-p-r {
        margin-top: 15px;
    }
    .cb-invites button {
        padding: 10px 18px!important;
        font-size: 12px;
    }
    .cb-invites input{
        width: 245px;
        padding-top: 7px!important;
        padding-bottom: 9px!important;
    }
    .g-get1{
        margin-top: 0%!important;
    }
    .cb-invites .input1{
        width: 195px;
        padding-top: 5px !important;
        padding-bottom: 8px !important;
    }
    .cb-invites-bt{
        padding: 7px 12px !important;
    }
    .footer{
        margin-top: 25px;
    }
    .g-detail p{
        font-size: 14px;
    }
    .visitors-a{
        padding: 3px;
    }
}
@media(min-width: 1440px)
{
    .bt-small{
        display: none;
        visibility: hidden;
    }
    .visitors-a{
        padding: 3px;
    }
    .cb-bottom{
        /*min-height: 440px;*/
    }

}
@media(min-width: 1281px)
{
    .head-img {
        width: 215px;
        margin-top: 5px;
    }
    .modal-dialog {
        width: 690px;
        margin: 72px auto;
    }
    /*.modal2-dialog{
    width: 690px!important;
    }*/
    .modal-header h4{
        font-size: 26px;
        font-weight: 800;
    }
    .fifth{
        /*padding-top:60px;*/
    }
    .fifth-modal{
        padding-top: 10px;
    }
    .cb-invites button{
        padding: 5px 10px;
    }
    .cb-invites input {
        /*width: 200px;*/
        padding-left: 5px;
        padding-right: 5px;
        outline: none;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .cb-invites input::placeholder{
        font-size: 11px;
    }
    .modal-content{
        border-radius: 0px;
    }
    .modal-header{
        background-color: #d76b37;
        color: white;
        text-align: center;
    }
    .modal-footer{
        background-color: #333;
        text-align: center;
    }
    .btn-modal{
        background-color: #e73e32;
        color: aliceblue;
        border: 0px;
        padding: 10px 32px;
        outline: none;
    }
    .g-detail p{

    }
    .bt-small{
        display: none;
        visibility: hidden;
    }
    .cb-invites input{
        width: 224px;
    }
    .tj-o {
        width: 100%;
        height: 368px;
        text-align: center;
    }
    .tj-o img{
        width: auto;
        /*height: 350px;*/
    }
    .second-button{
        margin-right: 20px;
    }
}
@media(max-width: 1439px)
{
    .second-head h3{
        font-size: 30px!important;
    }
    .second-head p{
        font-size: 15px!important;
    }
    .sec-logo{
        width: 223px;
    }
    .sec-logo img{
        width: 100%;
    }
    .second-head{
        width: 60%;
    }
    .visitors-a{
        padding: 3px;
    }
}
@media(max-width: 1300px)
{
    .cb-bottom {
        padding: 20px;
        /*min-height: 450px;*/
    }
}
@media(max-width: 1279px)
{

    .g-detail p{
        margin-top: 0px;
    }
    .act-now img{
        width: 345px;
        height: auto;
    }
    .free-gift img {
        width: 100%;
        height: auto;
    }
    .phone_number_wrapper{
        clear: both;
    }
    .card img{
        /*width: 345px;*/
    }
    .g-day-left{
        width: 450px;
    }
    .g-day-left h3 {
        font-size: 31px;
    }
    .cb-invites button {
        padding: 6px 7px;
        font-size: 10px;
    }
    .cb-invites input {
        /* width: 200px; */
        padding-left: 5px;
        padding-right: 5px;
        outline: none;
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 11px;
    }
    .sec-logo img{
        width: 100%;
    }
    .tj-o {
        width: 100%;
        height: 300px;
        text-align: left;
    }
    .tj-o img {
        width: 100%;
        height: auto;
    }
    .door-2{
        height: 300px;
    }
    .door-1{
        height: 300px;
    }
    .door-1 img {
        width: auto;
        height: 300px;
    }
    .door-2 img {
        width: auto;
        height: 300px;
    }
    .dl-head h3 {
        font-size: 16px;
    }
    .dl-head h3::after{
        width: 409px;
    }
    .dl-head p {
        font-size: 12px;
        margin-top: 10px;
    }
    .dl-body-f img{
        margin-left: 0px;
    }
    .dl-body-ul ul li img{
        width: 20px;
    }
    p.dl-p2 {
        font-size: 8px;
    }
    .dl-body-r h3{
        font-size: 14px;
    }
    .right-md{
        display: none;
        visibility: hidden;
    }
    .top-button{
        float: right;
        width: 212px;
    }
    .top-button a{
        padding: 6px 10px;
        font-size: 12px;
    }
    .dl-body-r-bottom h4 {
        font-size: 20px;
    }
    .second-head h3 {
        font-size: 37px;
    }
    .gift-section{
        margin-top: 0px;
    }
    .cb-bottom {
        padding: 20px;
        /*min-height: 450px;*/
    }
    .visitors p{
        font-size: 10px;
    }
    .visitors{
        width: 269px;
    }
    .modal-dialog {
        width: 690px;
        margin: 72px auto;
    }
    .g-sec{
        margin-top: 35px;
    }
    .door-l{
        height: 370px;
    }
    .dl-mar{
        margin-top: 45px!important;
    }

}
@media(max-width: 1199px)
{
    .head-mid{
        width: 520px;
    }
    .head h3{
        font-size: 24px;
    }
    p.offer{
        font-size: 13px;
    }
    p.fat{
        font-size: 12px;
    }
    p.head-p-r{
        font-size: 11px;
        margin-top: 10px;
    }
    .second-head h3{
        font-size: 37px;
    }
    .banner-bottom h3{
        font-size: 18px;
    }
    .banner-bottom p{
        font-size: 11px;
    }
    .fourth p {
        line-height: 21px;
        margin-top: 2.5%;
    }
    .g-detail p{
        margin-top: 0px;
        line-height: 15px;
        font-size: 12px;
        text-align: center;
    }
    .act-now{
        height: 218px;
    }
    .free-gift {
        /*height: 218px;*/
    }
    .act-now img{
        width: 290px;
    }
    .free-gift img {
        width: 100%;
    }
    .card img{
        /*width: 290px;*/
    }
    .bt-small{
        text-align: center;
        margin-top: 6px;
    }
    .bt-lg{
        display: none;
        visibility: hidden;
    }
    .second-head h3 {
        font-size: 25px !important;
    }
    .second-head p {
        font-size: 11px !important;
    }
    .second-button a{
        padding: 5px 8px;
    }
    .second-button{
        width: 237px;
    }
    .second-head{
        width: 52%;
    }
    .cb-bottom{
        /*min-height: 495px;*/
    }
}

@media(max-width: 1024px)
{

    .g-day-left {
        width: 387px;
    }
    .g-day-left h3 {
        font-size: 27px;
    }
    .g-door-2 h3{
        font-size: 18px;
    }

}
@media(max-width: 991px)
{
    .head{
        position: inherit;
    }
    .second-p {
        padding-top: 15px;
    }
    .head-p-r{
        display: none;
        visibility: hidden;
    }
    .sm-clients{
        margin-top: 8px;
    }
    .head-mid {
        width: 388px;
        margin-top: 12px;
    }
    .head h3 {
        font-size: 18px;
    }
    p.fat span {
        font-size: 12px;
    }
    .second-head h3 {
        font-size: 26px;
    }
    .second-head p {
        font-size: 13px;
    }
    .banner-bottom h3 {
        font-size: 14px;
    }
    .banner-bottom p {
        font-size: 9px;
    }
    .act-now img {
        width: 290px;
    }
    .free-gift img {
        width: 290px;
    }
    .small-comp{
        margin-top: 8px;
    }
    .g-detail p {
        margin-top: 17px;
        line-height: 19px;
        font-size: 18px;
    }
    .card{
        width: 50%;
        float: left;
    }
    .cb-top{
        width: 50%;
        float: right;
        /*height: 160px;*/
        margin-top: 5%;
        text-align: center;
    }
    .g-door-small{
        width: 50%;
        float: right;
        position: absolute;
        bottom: 200px;
        right: 0px;
    }
    .cb-invites {
        padding-top: 10px;
        text-align: center;
    }
    .g-door-2 h3 {
        font-size: 15px;
    }
    .g-door-2 p{
        font-size: 16px;
    }
    .fourth p {
        line-height: 21px;
        margin-top: 3%;
        text-align: justify;
    }
    .doors{
        width: 100%;
        margin: 0px auto;
    }
    .d2-content{
        height: 275px;
    }
    .cb-invites {
        padding-top: 10px;
        text-align: right;
    }
    .g-door-2 h3{
        text-align: right;
    }
    .g-door-2 p{
        text-align: center;
    }
    .g-door-small{
        right: 20px;		
    }
    .h-sma{
        width: 100%;
    }
    .top-button{
        float: right;
        width: 218px;
        margin-top: -111px;
    }
    .h-sma h3{
        display: none;
    }
    p.offer {
        font-size: 16px;
        color: #757108;
    }
    p.fat {
        font-size: 16px;
        color: #6d6c6a;
    }
    p.fat span {
        font-size: 16px;
    }
    .head-mid {
        width: 425px!important;
    }
    .dl-body-r-bottom input{
        width: 70%;
    }
    .dl-body-f h4{
        margin-left: 0px;
    }
    .dl-body-b h4{
        margin-left: 0px;
    }
    .second-head{
        width: 100%;
    }
    .second-button{
        position: absolute;
        right: 7px;
    }
    .dl-b-yout img{
        width: 100%;
    }


}
@media(max-width: 767px)
{

    .head-mid {
        width: 100%;
        margin-top: 12px;
        height: 53px;
    }
    .head-mid h3{
        display: none;
        visibility: hidden;
    }
    p.offer{
        float: none;
        text-align: right;
    }
    p.fat{
        float: none;
        text-align: right;
    }
    .head-img {
        width: 184px;
    }
    .second-head h3 {
        font-size: 17px;
    }
    .second-head p {
        font-size: 11px;
    }
    .banner-content {
        width: 100%;
        text-align: center;
        position: inherit;
    }
    .banner-content h3{
        font-size: 14px;
    }
    .banner-content h3 span{
        font-size: 18px;
    }
    .second-head h3 {
        font-size: 20px;
    }
    .fourth h3{
        width: 100%;
        float: left;
    }
    .fourth p{
        width: 100%;
        padding-left: 20px;
        text-align: justify;
    }
    .g-detail p {
        margin-top: 28px;
        line-height: 15px;
        font-size: 17px;
    }
    .act-now-xs{
        text-align: center;
    }
    .free-gift-xs{
        text-align: center;
    }
    .free-gift{
        padding-top: 0px;
    }
    .g-day-right{
        display: none;
    }
    .g-day-left {
        width: 100%;
        padding-left: 0px;
    }
    .g-day-left h3 {
        text-align: center;
    }
    .g-day-left p{
        text-align: center;
        float: none;
    }
    .tj-o {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .doors-xxs{
        background-image: none !important;
    }
    .door-1{
        float: left;
    }
    .door-2{
        text-align: right;
    }
    .door-1 img {
        width: 200px;
    }
    .door-2 img {
        width: 200px;
    }
    .tj-o img {
        width: 226px;
    }
    .card {
        width: 100%;
        float: none;
        text-align: center;
    }
    .cb-top {
        width: 100%;
        /* float: right; */
        /*height: 160px;*/
        margin-top: 5%;
        text-align: center;
    }
    .g-door-small {
        width: 100%;
        float: left;
        position: relative;
        /* bottom: 50px; */
        /* right: 0px; */
        margin-top: 40px;
    }
    .d2-content {
        height: 247px;
    }
    .d2-p p {
        font-size: 28px;
    }
    .d2-phone{
        width: 269px;
    }
    .d2-phone input {
        padding: 6px 9px;
    }

    .d2-head img {
        width: 300px;
    }
    .d2-head{
        text-align: center;
    }
    .d2-phone{
        min-height: 64px;
    }
    .dl-body-p p{
        font-size: 12px;
    }
    .dl-body-f h4{
        font-size: 15px;
    }
    .dl-p-xs{
        height: 49px;
    }
    .dl-body-p p {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }
    p.dl-p2{
        margin-top: 0px;
    }
    .g-door-2 h3{
        text-align: left;
    }	
    .g-door-2 p{
        text-align: center;
    }
    .cb-invites{
        text-align: left;
        line-height: 19px;
    }
    .g-door-small{
        left: 0px;
    }
    p.offer{
        float: left;
    }
    .head-mid{
        height: 32px;
    }
    p.fat span {
        font-size: 17px;
    }
    .doors{
        padding-top: 0px;
    }
    .d2-phone {
        width: 296px;
    }
    .second-head p{
        margin-top: 10px;
    }
    .modal-dialog{
        width: auto;
    }
    .cards-section {
        height: auto;
    }
    .door-1-lap{
        border : 1px solid #ccc;
    }
    .cl-r-btm{
        width: 30%;
    }
    .cl-r-btm img{
        width: 100%;
    }
    .cl-r-btm-r{
        width: 70%;		
    }
    .cl-r-btm-r img{
        width: 100%;
    }
    .border-none{
        border: none;
    }
    .dl-mar {
        margin-top: 0px!important;
    }
    .door-l {
        height: auto;
    }
    .doors{
        height: auto;
    }
    .g-door-small{
        margin-top: 175px;
    }
    .visitors{
        margin-top: 131px;
        position: absolute;
    }

}	
@media(max-width: 605px)
{
    .dl-body-r-bottom input{
        width: 55%;
    }
    .dl-body-r h3 {
        font-size: 12px;
    }
}
@media(max-width: 560px)
{
    .dl-head h3::after {
        width: 190px;
        top: 65px;
    }
    .now-small{
        width: 100%;
        text-align: center;
    }
    .now-small img{
        width: 200px;
    }
    .now-small h3{
        float: none;
    }
    .now-small h4{
        float: none;
    }
    .now-small input{
        width: 100%;
    }
    .doors-sm{
        width: 100%;
        margin: 0px auto;
        height: auto;
    }
    .dl-body-f img {
        margin-left: 0px;
        width: 60px;
        margin-top: 9px;
    }
    .dl-body-b {
        margin-top: 0px;
    }
    .fourth p{
        padding-left: 0px;
    }
    .fourth h3{
        padding-left: 0px;
    }

}

@media(max-width: 500px)
{
    .d2-head img{
        width: 100%;
    }
    .d2-img img{
        width: 35px;
    }
    .d2-p p {
        font-size: 20px;
    }
    .d2-phone {
        width: 188px;
    }
    .d2-phone-xs{
        width: 220px;

    }
    .d2-phone{
        min-height: 35px;
    }
    .d2-phone button{
        padding: 4px 18px;
    }
    .d2-phone input {
        padding: 3px 5px;
    }
    .d2-content {
        height: 176px;
    }
    .dl-body-p p {
        font-size: 9px;
    }
    .d2-head img{
        width: 200px;
    }
    .door-1-lap::after{
        width: 115%;
        left: -31px;
    }
    .head-mid{
        width: 100%!important;
    }
    p.offer {
        width: 100%;
        text-align: center;
    }
    p.fat {
        float: none;
        text-align: center;
        width: 100%;
    }
    .head-mid{
        margin-bottom: 34px;
    }
    .top-button{
        margin-top: -133px;
    }
    .door-1 img {
        width: 100%;
    }
    .door-2 img {
        width: 100%;
    }
    .dl-body-r {
        padding-left: 0px;
    }
    .dl-body-r-bottom input::placeholder{
        color: #8f8e8e;
    }
    .dl-body-r-bottom input
    {
        margin-left: 0px;
    }
    .dl-body-f h4{
        margin-left: 0px;
    }
    .dl-b-yout {
        text-align: center;
        width: 100%;
    }
    .dl-b-r-small1 {
        padding-left: 20px;
        width: 100%;
    }
    .dl-body-f {
        text-align: left;
    }
    .dl-body-f h4{
        width: 50%;
        text-align: right;
    }
    .dl-body-ul{
        float: none;
    }
    .dl-body-b{
        height: 29px;
        width: 165px;
        margin: 0px auto;
    }
    .dl-body-b h4{
        margin-left: 0px;
    }
    .d2-head img {
        width: 255px;
    }
    .d2-phone {
        width: 255px;
    }
    .d2-p p {
        font-size: 24px;
        line-height: 45px;
    }
    .d2-head img {
        width: 255px;
    }
    .d2-phone {
        width: 255px;
    }
    .d2-p p {
        font-size: 25px;
        line-height: 36px;
    }
    .d2-phone input {
        width: 100%;
    }
    .d2-phone button {
        width: 100%;
        margin-top: 5px;
    }
    .d2-content {
        height: 235px;
    }
    .sec-logo{
        width: 100%;
        text-align: center;
    }
    .sec-logo img{
        width: 250px;
    }
    .second-button {
        position: absolute;
        right: 0px;
        left: 0px;
        margin: 0px auto;
        margin-top: 100px;
    }
    .second-head h3{
        margin-top: 54px;
    }
    .g-door-small{
        margin-top: 175px;
    }
    .visitors{
        margin-top: 100px;
        right: 14%;
    }
    .door-l {
        height: auto;
    }
    .dl-mar {
        margin-top: 0px!important;
    }
    .doors{
        height: auto;
    }
    .phone_number_wrapper span{
        padding: 12px 0;
        width: 20%;
        font-size: 14px;
    }
    .phone_number_wrapper input{
        padding: 4px 0 0 4px ;
        font-size: 14px;
        width: 70%;
    }
    .phone_number_wrapper label{
        padding: 8px 0;
        width: 10%;
    }
    .client_right_part{
        padding: 10px 30px !important;
    }
    .play_image img{
        width: 100%!important;
    }
    .mobile_limited_gift{
        width: 20%;
    }
    .mobile_card_block{
        padding: 15px;
    }
    .booking_msg{margin:0px;font-size: 10px;}
    .middle_part_card .part0 .card_label{ font-size: 20px;padding-top: 10px; } 
    .middle_part_card .part1 .card_label,.middle_part_card .part1_a .card_label,.middle_part_card .part1_b .card_label{ font-size: 13px; } 
    .middle_part_card .part1_a div.left_part1_a { z-index: 2; position: relative;}
    .middle_part_card .part1_a div{ padding: 0;width: 100%!important; margin: 0!important; } 
    .middle_part_card .part2 .card_label{ font-size: 12px; }
    .middle_part_card .part3 .card_label{ font-size: 15px; font-weight: bold; text-align: left; padding: 0 40px; }
    .middle_part_card .part4 .card_label{ font-size: 13px;}
    .middle_part_card .part9 .card_label{ font-size: 13px;}
    .middle_part_card .part9 .card_label input{ margin: 0;}
    .middle_part_card .part5 .card_label{ font-size: 12px; font-weight: bold; text-align: center; padding: 0 40px; }
    .middle_part_card .part5 .card_label > a{ color: yellow; }
    .middle_part_card .part6 .card_label{ font-size: 12px; font-weight: bold; text-align: left; padding: 0 40px; }
    .middle_part_card .part6 ol{ font-size: 12px; font-weight: bold; text-align: left; padding: 0px 0 0 64px; color: white;}
    .middle_part_card .part7 .card_label{ font-size: 12px; font-weight: bold; text-align: center; padding: 0 40px; }
    .middle_part_card .part8 .card_label{ font-size: 12px; font-weight: bold; text-align: left; padding: 0 40px; }
    .middle_part_card .part2_termofuse_div{
        margin: 4px;
        text-align: left;
        padding: 0 30px;
    }
    .middle_part_card .part2_termofuse_div a{
        color: #459fec;
    }
    .middle_part_card{
        margin: 0 1px;
    }
}
@media(max-width: 460px)
{
    .head-img {
        width: 151px;
        margin-top: 15px;
    }
    .logo-md{
        width: 40%;
    }
    .h-sma{
        width: 100%;
    }
    p.fat span {
        font-size: 16px;
    }
    .cb-content p{
        font-size: 11px;
        margin-left: 18px;
    }
    .cb-content input{
        padding: 0px;
        margin : 0px;
    }
    .doors{
        background: none;
    }
    .top-button {
        margin-top: 0px;
    }
    .top-button
    {
        width: 100%;
    }
    .m-login a{
        float: right;
        margin-right: 5px;
    }
    .l-guest a{
        float: left;
        margin-left: 5px;
    }
    .header-button {
        margin-bottom: 7px;
        margin-top: 0px;
    }
    .head-img {
        width: 180px;
        /* margin-top: 7px; */
        text-align: center;
        margin: 9px auto 0px;
    }
    .logo-md {
        width: 100%;
    }
    .doors {
        width: 90%;
        background-color: none;
    }
    .door-2 {
        height: 300px;
    }

    .door-1 {
        height: 300px;
    }
    .dl-b-yout-small{
        width: 100%;
    }
    .dl-b-r-small1 {
        width: 100%;
    }
    .now-small input::placeholder{
        text-align: center;
    }
    .second-button{
        margin-top: 113px;
    }
    .back-to-home{
        margin-top: 123px;
        background: #0f6885;
        padding: 4px 8px;
        color: aliceblue;
        font-size: 11px;
    }
    .cards-left{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .cards-left img{
        width: 100%;
        height: auto;
    }
    .cards-right{
        width: 100%;
        text-align: center;
    }
    .cr-client img {
        width: 100%;
        height: 43px;
    }
    .cl-r-btm{
        display: none;
    }
    .cl-r-btm-r {
        width: 100%;
    }
    .modal-header h4 span {
        font-size: 17px;
    }
    .modal-header h4 {
        font-size: 16px;
    }
    .doors{
        width:100%;
    }
    .xs{
        padding-left: 0px;
        padding-right: 0px;
    }
    .doors-sm{
        height: auto;
    }
    .footer p{
        padding: 15px!important;
        text-align: center!important;
    }
}
@media(max-width: 414px)
{

    .h-sma{
        width: 100%;
    }
    .logo-md {
        width: 100%;
        text-align: center;
    }
    .head-img {
        width: 180px;
        margin-top: 10px;
        text-align: center;
        margin: 8px auto;
    }
    p.offer {
        float: none;
        text-align: center;
        color: #a2661e;
        margin : 0px;
    }
    p.fat {
        float: none;
        text-align: center;
        color: #404142;
        margin: 0px;
    }
    .act-now img {
        width: 160px;
    }
    .free-gift img {
        width: 100%;
    }
    .phone_number_wrapper{
        clear: both;
        margin: 15px 0 70px 0;
    }
    .act-now {
        height: 190px;
    }
    .g-detail p {
        margin-top: 6px;
        line-height: 15px;
        font-size: 12px;
    }
    .g-day-left h3 {
        font-size: 24px;
    }
    .tj-o{
        margin-bottom: 0px;
        height: 222px;
    }
    .tj-o img {
        width: 160px;
    }
    .card img {
        /*width: 160px;*/
    }
    .door-1 img {
        width: 160px;
    }
    .door-2 img{
        width: 160px;
    }
    .cb-top img{
        /*width: 160px;*/
    }
    .cb-top p{
        font-size: 12px;
        padding-top: 12px;
    }
    .free-gift {
        /*height: 108px;*/
        padding: 0;
    }
    .act-now {
        height: 119px;
    }
    .fifth{
        padding-top: 0px;
    }
    .g-day-left h3 {
        font-size: 19px;
    }
    .g-day-left p{
        font-size: 11px;
    }
    .cb-top{
        /*height: 96px;*/
    }
    .d2-head img {
        width: 211px;
    }
    .d2-phone {
        width: 222px;
    }
    .d2-phone button{
        width: 100%;
        margin-bottom: 6px;
        padding: 4px 18px;
    }
    .d2-phone input {
        width: 100%;
        margin-bottom: 6px;
        padding: 3px 5px;
    }
    .d2-content {
        height: auto;
    }
    .door-1-lap::after{
        width: 123%;
    }
    .d2-head img {
        width: 100%;
    }
    .d2-phone-xs {
        width: 100%;
    }
    .d2-p p {
        font-size: 16px;
    }
    .dl-b-yout-small{
        width: 100%;
    }
    .dl-b-r-small1{
        width: 100%;
    }
    .dl-body-f{
        text-align: center;
        width: 140px;
        margin: 4px auto;
    }
    .dl-body-b{
        width: 162px;
        margin: 0px auto;
        /*height: 41px;*/
    }
    .dl-body-ul{
        float: none;
    }
    .door-1-lap::after {
        width: 120%;
    }
    .doors{
        background: none;
    }
    .dl-body-ul ul li{
        margin-right: 4px;
    }
    .back-to-home{margin-top: 14px;}
    .big_guy{display: none;}
    .card_block{padding-left: 20px;}
    .middle_part_card .radio_div{margin: 0 5px 0 5px;}
    .middle_part_card .part3 .card_label{padding: 0 13px;}
    .middle_part_card .part2_termofuse_div{padding: 0 18px;}
    .middle_part_card .part6 .card_label{padding: 0 18px;}
    .middle_part_card .part6 ol{padding: 0 0 0 34px;}
    .middle_part_card .part8 .card_label{padding: 0 18px;}
    .middle_part_card form input{ margin: 10px 0;}
    .middle_part_card{ padding-bottom: 5px; }
    .travel_2weeks{font-size: 16px;}
    .g-door-2 p{font-size: 12px;}
    .card_top .booking_engine{ font-size: calc(4vw + 2vh + 2vmin); padding-top: 17px;}
    .gift_249_card > div { height: 50px; line-height: 50px;}
    .gift_249_card .gift_249_text{ font-size: calc(4vw + 2vh + 1vmin);padding: 0; }
    .card_bottom .sposor_text{ font-size: calc(4vw + 1vh + 1vmin); text-align: right; padding: 0; margin: 0;}
    .sponsor_img img{ width: 100%;}
    .mobile_card_block > img{ width: 100%; }
    #limited_gift{ margin-top: 35px!important; }
    .travel_2weeks{ text-align: center;}
    .visitors{margin: 0;position: static;}
    .gift_249_card img{width: 100%;}
    .card_main_div{border-radius: 30px;}
    .back-to-home{ top: 10px;}
    .card_pin_icon{ font-size: calc(1vw + 2vh );}
}


@media(min-width: 992px) and (max-width: 1280px)
{

    .bt-lg{
        display: none;
        visibility: hidden;
    }
    .d2-content{
        height: 271px;
    }
    .head-img{
        width: 170px;
        margin-top: 10px;
    }
    /*VIMAL :: STANDARD LAPTOP*/ 
    .phone_number_wrapper span{ font-size: 11px; padding: 16px 0;}
    .phone_number_wrapper input{ font-size: 11px; color: black;}
    .phone_number_wrapper label{ font-size: 11px; padding: 16px 0;}
    .g-detail p{margin-top: 8px; font-size: 9px;}
    .cb-top p{ font-size: 16px;}
    .travel_2weeks{ font-size: 15px;padding-top: 10px; }
    .g-door-2 p{font-size: 12px;}
    .middle_part_card .part0 .card_label{ font-size: 30px; } 
    .middle_part_card .part1 .card_label,.middle_part_card .part1_a .card_label,.middle_part_card .part1_b .card_label{ font-size: 14px; } 
    .middle_part_card .part2 .card_label{ font-size: 10px; }
    .middle_part_card .part3 .card_label{ font-size: 16px; }
    .middle_part_card .part4 .card_label{ font-size: 13px; }
    .middle_part_card .part9 .card_label{ font-size: 13px; }
    .middle_part_card .part5 .card_label{ font-size: 12px; }
    .middle_part_card .part6 .card_label{ font-size: 12px; }
    .middle_part_card .part6 ol{ font-size: 12px; }
    .middle_part_card .part6 ol li{padding: 5px 0; }
    .middle_part_card .part7 .card_label{ font-size: 12px; }
    .middle_part_card .part8 .card_label{ font-size: 12px; }
    .middle_part_card{margin: 0 2px;}
    .fifth{ min-height: 760px; }
    .right_top_part p{font-size: 11px;}
    .card_top .booking_engine{ font-size: calc(2vw + 2vh + 2vmin); padding-top: 17px;}
    .gift_249_card > div { height: 50px; line-height: 50px;}
    .gift_249_card .gift_249_text{ font-size: calc(2vw + 2vh + 1vmin);padding: 0; }
    .card_bottom .sposor_text{ font-size: calc(1vw + 1vh + 1vmin); text-align: right; padding: 0; margin: 0;}
}
@media(min-width: 1281px) and (max-width: 1367px)
{
    /*VIMAL :: STANDARD LAPTOP*/ 
    .phone_number_wrapper span{ font-size: 11px!important;padding: 14px 0;}
    .phone_number_wrapper input{ font-size: 11px; color: black;}
    .phone_number_wrapper label{ font-size: 11px; padding: 14px 0;}
    .g-detail p{margin-top: 8px; font-size: 9px;}
    .cb-top p{ font-size: 16px;}
    .travel_2weeks{ font-size: 15px;padding-top: 10px; }
    .g-door-2 p{font-size: 12px;}
    .middle_part_card .part0 .card_label{ font-size: 45px; } 
    .middle_part_card .part1 .card_label,.middle_part_card .part1_a .card_label,.middle_part_card .part1_b .card_label{ font-size: 14px; } 
    .middle_part_card .part2 .card_label{ font-size: 15px; }
    .middle_part_card .part3 .card_label{ font-size: 16px; }
    .middle_part_card .part4 .card_label{ font-size: 13px; }
    .middle_part_card .part9 .card_label{ font-size: 13px; }
    .middle_part_card .part5 .card_label{ font-size: 12px; }
    .middle_part_card .part6 .card_label{ font-size: 12px; }
    .middle_part_card .part6 ol{ font-size: 12px; }
    .middle_part_card .part6 ol li{padding: 5px 0; }
    .middle_part_card .part7 .card_label{ font-size: 12px; }
    .middle_part_card .part8 .card_label{ font-size: 12px; }
    .middle_part_card{margin: 0 2px;}
    .fifth{ min-height: 760px; }
}
@media(max-width: 423px) and (min-width: 360px)
{
    .cb-bottom {
        padding: 50px 0 0 0;
        clear: both;
    }
    .cb-top{
        padding: 0px;
        text-align: center;
    }
    .g-door-small{    margin-top: 235px;}
    .card{
        /*padding-left: 0px;*/
        text-align: left;
    }
    .card img {
        /*width: 220px;*/
    }
    .card-bottom{
        padding-top: 0px;
        clear: both;
    }
    .doors{
        background-image: none!important;
        background-color: none;
        padding: 8px 0px;
    }
    .doors-l{
        padding: 0px;
    }
    .doors-p{
        padding: 0px;
    }
    .act-now-xs{
        padding: 0px;
    }
    .door-1 img {
        width: 100%;
        height: auto;
        padding-right: 4px;
    }
    .door-2 img{
        width: 100%;
        height: auto;
    }
    .door-1 img{
        height: 279px;
    }
    .door-2 img{
        height: 279px;
    }
    .cb-bottom > div:nth-child(1){margin: 0;}
    .mobile_card_block > img{ width: 100%; }
    #limited_gift{ margin-top: 35px!important; }
    .travel_2weeks{ text-align: center;}
    .visitors{margin: 0; position: static;}
    .gift_249_card img{width: 100%;}
    .card_main_div{border-radius: 30px;}
    .back-to-home{ top: 10px;}
    .card_pin_icon{ font-size: calc(1vw + 2vh );}
}