body {
    /*height: 1600px;*/
}
.head{
    background-color: #373f41;
    height: 71px;
    text-align: center;
    position: fixed;
    z-index: 1;
    width: 100%
}
.head h3{
    color: #fff;
    margin: 0px;
    font-size: 26px;
}
.head p{
    color: #fff;
    margin: 5px auto;
    font-size: 13px;
    padding: 3px;
    top: 0px;
    bottom: 0px;
    position: relative;
}
.logo-md{
    padding-left: 0px;
}
.sec-logo{
    float: left;
    margin-top: 17px;
    width: 15%;
    text-align: center;
}

.right-md{
    padding-right: 0px;
}
p.offer{
    float: left;
    color: #fff600;
    font-size: 15px;
}
p.fat{
    float: right;
    font-size: 16px;
    font-family: inherit;
    font-weight: normal;
}
p.fat span{
    font-size: 17px;
    font-weight: 800;
}

.header {
    height:1200px;

}
.head-img {
    margin-top: 7px;
}
.head-img{
    width: 200px;
    height: auto;
}
.head-mid{
    height: 28px;
    width: 571px;
    margin: 7px auto;
}

#header-sroll {
    position:fixed;
    /*height: 100px;*/
    /*background:#ccc;*/
    left:0;
    top:0;
    float:left;
    width:100%;
    -ms-transition:     all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}
#header-sroll h1 {
    font-size: 30px;
    font-family: Arial;
    text-align: center;
    line-height: 80px;
    -ms-transition:    all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}
#header-sroll.small {
    height: 70px;
    line-height: 50px;
}
#header-sroll.small h1{
    height: 70px;
    line-height: 50px;
    font-size: 25px;
}
.bottomMenu {
    display: none;
    position: fixed;
    bottom: 5px;
    width: 20%;
    height: 60px;
    border-top: none;
    background: #d68833;
    z-index: 1;
    right: 0px;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
}
.bottomMenu button{
    border: none;
    padding: 7px 35px;
    color: #5a5a57;
    font-size: 14px;
    margin: 4px;
}
.scrollPast {
    width: 100%;
    height: 250px;
    background: blue;
    position: relative;
    top: 50px;
    margin: 20px 0;

}
h1 {
    display: none;
    position: absolute;
    bottom: 0;
}
.s-p{
    padding-left: 0px;
    padding-right: 0px;
}

.second-p{
    text-align: left;
    padding: 4px;
    padding-top: 0px;
}
.second-head{
    float: left;
    width: 67%;
    text-align: center;
}
.second-head h3{
    color: #0f6885;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 2px;
}
.second-head p{
    font-size: 16px;
    color: #0f6885;
    margin-left: 10px;
}
.second-head p span{
    color: #b76b11;
    font-size: 19px;
}
.second-button{
    width: 244px;
    float: right;
    margin-top: 69px;
    /*width: 17%;*/

}
.second-button a{
    border-radius: 0px;
    border:0px;
    padding: 8px 10px;
}
.second-button a:hover{
    background-color: #0f6885;
    color: white;
}
.banner-content{
    width: 450px;
    background-image: url(../img/bg.png);
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    top: 270px;
    right:10px;
    text-align: center;
}
.banner-content h3{
    margin: 10px;
    line-height: 26px;
    color: #1a7391;
    font-size: 18px;
}
.banner-content h3 span{
    font-size: 24px;
    font-weight: 600;
}

.banner img{
    width: 100%;
}
.banner-bottom {
    text-align: center;
    padding:15px;
    background-color: #131617;
    color: #cecece;
}
.banner-bottom h3{
    font-size: 24px;
    font-weight: 700;
    margin: 8px;
}
.banner-bottom p{
    margin-bottom: 0px;
}
.fourth{
    padding-top: 30px;
    padding-bottom: 30px;
}
.fourth h3{
    /*float: left;*/
    color: #6f7275;
    padding-left: 20px;
    padding-right: 6px;
    margin-bottom: 0px;
}
.fourth p{
    line-height: 71px;
    color: #8c8d8e;
    padding-left: 20px;
    margin-top: 0px;
}
.f-1{
    padding-left: 0px;
}
.fourth-1{
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
.fourth img{
    width: 100%;
}
.modal-body img{
    height: auto;
    width: 900px;
}
.fifth{
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    min-height: 1000px;
}
.act-now{
    height: 250px;
    /*text-align: center;*/
    padding: 20px;
    padding-top: 28px;
    text-align: center;
}
.act-now img{
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -o-transition: 1s ease all;
}
/*.act-now img:hover{
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}*/
.free-gift{
    /*height: 250px;*/
    text-align: center;
    padding: 20px;
}
.client_right_part{
    /*height: 250px;*/
    text-align: center;
    padding: 20px 20px 20px 20px;
}
.card{
    /*height: 250px;*/
    text-align: left;
    padding: 20px;
    padding-top: 28px;
}
.act-now img{
    width: 355px;
    height: auto;
}
.free-gift img {
    width: 100%;
    height: auto;
}
.card img{
    width: 100%;
    height: auto;
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -o-transition: 1s ease all;
}
/*.card img:hover{
  transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
}*/

.g-detail{
    padding-top: 5px;
    padding-bottom: 5px;
    height: 46px;
}
.g-detail img{
    width: 100%;
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -o-transition: 1s ease all;
}
.g-detail img:hover{
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}

.g-detail p{
    font-family: cursive;
    margin-top: 11px;
    font-size: 14px;
    font-weight: 600;
    color: #10104c;
    padding: 0;
}
.g-detail div{
    padding: 0 5px;
}
.g-day{
    padding-top: 25px;
}
.g-day-left{
    width: 567px;
    float: left;
    padding-left: 28px;
}
.g-day-left h3{
    font-size: 40px;
    font-weight: 800;
    color: #0f6885;
    margin-top: 0px;
}
.g-day-left p{
    float: left;
    color: #0f6885;
    margin-left: 5px;
}
.g-day-right{
    float: left;
}
.g-day-right h3{
    font-size: 30px;
    font-weight: 800; 
    color: #f39c00;
    margin-top: 0px;
    margin-left: 4px;
}
.g-day-right h3 span{
    color: #fe6463;
}
.g-day-right-1 {
    float: left;
}
.g-day-right-2{
    float: left;
}
.tj-o{
    width: 100%;
}
.tj-o img{
    width: 80%!important;
    padding-top: 20px;
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -o-transition: 1s ease all;
}
.tj-o img:hover{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}
.doors{
    padding-top: 25px;
    background-image: url(../img/b-g.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}
.doors-p{
    padding-left: 0px;
    padding-right: 0px;
}
.doors-p a{
    outline: none;
    text-decoration: none;
}
a.d-h-a{
    text-decoration: underline;
}
.doors-l{
    padding-right: 0px;
}
.door-1{
    float: left;
    width: 50%;
}
.door-1 img{
    width: 100%;
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -o-transition: 1s ease all;
}
.door-1 img:hover{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}

.door-2{
    float: right;
    width: 50%;
}
.door2-bg{
    background-image: url(../img/tj-bg.png);
    /*height: 400px;*/
    background-repeat: no-repeat;
    background-size: cover;
}
.ds{
    background-image: none!important;
}
.door-2 img{
    width: 100%;
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -o-transition: 1s ease all;
}
.door-2 img:hover{
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
}
.card-bottom{
    padding-top: 0px;
    clear: both;
}
.cb-top p{
    padding-top: 10px;
    font-size: 24px;
}
.cb-top{
    font-size: 16px;
    font-weight: 600;
    color: #353333;
    /*padding-left: 20px;*/
    text-align: center!important;
    display: block!important;
}
.cb-top img{
    width: 85%;
}
.cb-content input{
    float: left;
    margin-right: 6px;
}
.cb-bottom{
    padding : 20px;
    min-height: 270px;
}
.cb-bottom p{
    margin-bottom: 10px;
}
.g-door-2 h3{
    font-size: 25px;
    font-weight: 600;
    color: #0f6885;
    text-align: left;
    padding-top: 15px;
}
.g-door-2 p{
    color: #0f6885;
    font-size: 17px;
    text-align: center;
    margin-bottom: 3px;
}
.cb-invites {
    padding-top: 10px;
}
.cb-invites input 
{
    padding-left: 9px;
    padding-right: 9px;
    outline: none;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid;
}
.cb-invites input::placeholder{
    font-size: 15px!important;
    color: #1b1b1b;  
}
.cb-invites button{
    border: 0px;
    padding: 10px 17px;
    background-color: #e73e32;
    color: aliceblue;
    outline: none;
}
.footer {
    background-color: #131617;
}
.footer p{
    padding: 15px 15px 15px 32.5%;
    text-align: left;
    color: #fff;
}

/*-----  Doors -----*/
.door-1-lap{
    padding: 2px;
    border: 4px solid;
    border-radius: 5px 5px 0px 0px;
    background-color: #fff;
}
.door-1-lap img{
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
    -moz-transition: 1s ease all;
    -o-transition: 1s ease all;
}
.door-1-lap img:hover{
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}
/*.door-1-lap:after{
  content: '';
  position: absolute;
  width: 115%;
  height: 9px;
  background-color: #000;
  left: -44px;
  right: 0;
  bottom: 0px;
  margin: 0px auto;
  border-radius: 7px;
}*/
.dl-head {

}
.dl-head h3{
    font-size: 18px;
    color: #2975c0;
    text-align: center;
    margin-bottom: 8px;
}
.dl-head h3:after{
    content: '';
    position: absolute;
    width: 95%;
    height: 2px;
    background-color: #505152;
    bottom: 0px;
    top: 48px;
    right: 2px;
    left: 0px;
    margin: 0px auto;
}
.dl-head p{
    font-size: 13px;
    color: #e73130;
    text-align: center;
}
.dl-body-r h3{
    float: left;
    float: left;
    font-size: 18px;
    font-weight: 600;
    color: #676764;
    margin-top: 0px;
    margin-bottom: 2px;
}
.dl-body-r p{
    margin-top: 6px;
    font-size: 12px;
    color: #4a4949;
}
.dl-body-r input{
    padding: 6px 11px;
    width: 100%;
    border: 1px solid #2d2d2d;
    text-align: center;
}
.dl-body img{
    width: 100%;
}
.dl-body-r-bottom{
    width: 100%;
}
.dl-body-r-bottom h4{
    font-size: 25px;
    color: #191818;
    margin-top: 5px;
    float: left;
    font-weight:  600;
    width: 30%;

}
.dl-body-r-bottom input{
    padding: 6px 11px;
    width: 67%;
    margin-left: 6px;
    border: 1px solid #000;
}
.dl-b-yout{
    text-align: left;
}
.dl-b-yout img{
    margin-top: 10px;
}
.dl-body-r-bottom input::placeholder{
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.dl-body-b {
    margin-top: 10px;
}
.dl-body-b h4{
    font-size: 12px;
    float: left;
    color: #3b5997;
    margin-left: 16%;
}
.dl-body-p{
    margin: 5px 5px 10px 5px;
    height: 25px;
}
.dl-body-p p{
    margin: 2px;
    color: #635f5f;
    font-weight: 600;
    margin-left: 2%;
}
p.dl-p1{
    float: left;
    font-size: 10px;
    margin-top: 10px;
}
p.dl-p2{
    font-size: 10px;
    margin-top: 10px;
    float: right;  
}
.dl-body-f h4{
    color: #3b5997;
    float: left;
    margin-left: 20%;
}
.dl-body-f img{
    margin-left: 5px;
}
.dl-body-ul{
    float: right;
    margin-left: 0px;
}
.dl-body-f{
    text-align: right;
}
.dl-body-ul ul{
    list-style-type: none;
    padding-left: 0px;
}
.dl-body-ul ul li{
    float: left;
    margin-right: 5px;  
}
.d2-head img{
    width: 100%;
}
.d2-content{
    width: 100%;
    height: 300px;
    padding: 20px;
}
.d2-img{
    float: left;
    height: auto; 
}
.d2-p{
    float: left;
    border-bottom: 1px solid #065588;
    margin-left: 10px;
}
.d2-phone{
    text-align: right;
    left: 0px;
    right: 0px;
    margin : 8px auto;
    min-height: 75px;
    width: 360px;
}
.d2-p p{
    font-size: 40px;
    color: #0864bb;
    margin-bottom: 0px;
    font-weight: 700;
}
.d2-phone input{
    padding: 6px 14px;
}
.d2-phone button{
    border: none;
    padding: 8px 40px;
    color: #eaeaea;
    background-color: #f73232;
    outline: none;
}
/*.bt-small{
  display: none;
  visibility: none;
}*/
.xs-d{
    display: none;
    visibility: hidden;
}
/*----- Modal  ----*/
.modal-header h4{
    font-size: 26px;
    font-weight: 500!important;
}
.modal-header h4 span{
    font-size: 26px;
    font-weight: 800;
}
.modal-content{
    border-radius: 0px;
}
.modal-header{
    background-color: #d76b37;
    color: white;
    text-align: center;
}
.modal-footer{
    background-color: #333;
    text-align: center;
}
.btn-modal{
    background-color: #e73e32;
    color: aliceblue;
    border: 0px;
    padding: 10px 32px;
    outline: none;
}
.doors-sm{
    background-image: none!important;
}
.cb-content img{
    /*width: 100%;*/
    float : left;
    margin-right: 5px;
}
/*------- Client Correction   -----*/
.door-1 img{
    height: 368px;
    width: auto;
    float: right;
    margin-right: 12px;
}
.door-2 img{
    height: 368px;
    width: auto;
    float: left;
    margin-left: 12px;
}
.dl-body-r{
    padding-left: 20px;
}
.dl-b-r-small1{
    padding-left: 20px;
}
.header-button{
    margin-top: 15px;
    background: #373f41;
    color: #ffffff;
    transition: 0.6s ease all;

}
.header-button:hover{
    background: #ffffff;
    color: #0f6885;
}
.padding-0{
    padding:0px;
}
.top-button .btn{
    border-radius: 0px;
}
.back-to-home{
    position: absolute;
    left: 14px;
    margin-top: 15px;
    background: #0f6885;
    padding: 7px 13px;
    color: aliceblue;
}
.back-to-home a{
    color: #fff;
    outline: none;
    text-decoration: none;
}
.back-to-home a img{
    margin-top: -4px;
}
.smallcom-p{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
/*-- Vsitors ---*/
.visitors{
    padding: 15px 9px;
    width: 341px;
    height: 50px;
    background-color: #efde72;
    margin: 11px 0px;
    border-radius: 1px;
    border: 1px solid #9e9e9e;
}
.visitors p{
    float: left;
    color: #1f1f1f;
}
.visitors-a{
    width: 25px;
    height: 25px;
    float: right;
    margin-right: 0px;
    background: #353535cc;
    color: white;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    margin-top: -2px;
}
.visitors-a a{
    color: #fff;
    text-decoration: none;
    outline: none;
}
/*--- cards-section ----*/
.cards-section{
    height: 390px;
}
.cards-left{
    width: 50%;
    float: left;
    padding: 10px;
}
.cards-left img{
    width: 100%;
}
.cards-right{
    width: 50%;
    float: right;
    padding: 10px;
}
.cards-right h3{
    font-weight: 800;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 4px;
    margin-top: 10px;
}
.cards-right h4{
    font-weight: 900;
    text-align: center;
    font-family: cursive;
    font-size: 27px;
    color: #d41200;
    margin-top: 0px;
    margin-bottom: 15px;
}
.cr-client {
    margin-top: 5px;
    width: 100%;
    height: 43px;
}
.cr-client-l{
    width: 50%;
    float: left;
    padding-right: 5px;
}
.cr-client-r{
    width: 50%;
    float: right;
    padding-left: 5px

}
.cr-client-r p{
    font-family: cursive;
    margin-top: 11px;
    font-size: 14px;
    font-weight: 600;
    color: #10104c;
}
.cr-client img{
    width: 100%;
}
.cl-r-btm {
    float: left;
    padding-left: 20px;
}
.cl-r-btm-r{
    float: right;
}
.cards-section img:hover{
    transform:none!important;
}
.card-s{
    padding-top: 0px!important;
}

/*----  Mega Menu  ----*/
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
li.mega-dropdown a{
    background-color: #373f41;
}
.ul_dropdown{
    margin-top: 85px;
}
.mega-dropdown-menu{
    background: #373f41;
}
.second-button{
    margin-top: 69px;
    margin-right: 0px!important;
}
li a.dropdown-toggle{
    padding: 8px 16px;
}
.second-head p{
    margin-bottom: 0px;
}
span.bk_me1{
    color: #b76b11;
    font-size: 13px!important;
}

.play_image img{
    /*padding-top: 35px;*/
}
.phone_number_wrapper span{
    background-color: #e73e32;
    color: white;
    padding: 8px 0;
    font-weight: bold;
    width: 20%;
    display: inline-block;
    font-size: 18px;
}
.phone_number_wrapper input{
    font-size: 18px;
    padding: 7px ;
    font-weight: bold;
    width: 70%;
}
.phone_number_wrapper label{
    background-color: #e73e32;
    color: white;
    padding: 8px 0;
    font-weight: bold;
    width: 10%;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}
.card_block{
    text-align: center;
    padding-left: 0;
}
.big_guy{
    padding-right: 0;
}
.card_block img{
    width: 100%;
}

.right_top_part div{
    border: 1px solid black;
    margin: 0 0 9px 0;
    padding: 0;
}
.right_top_part p{
    background-color: rgb(145, 176, 49);
    margin: -5px 0 0 0;
    color: white;
    font-size: 15px;
    padding: 3px;
    font-weight: bold;
}
#limited_gift{
    margin-top: -20px!important;
}
#let_us_play img{
    width: 90%!important;
    margin: 20px 0 40px 0;
}
.call_widget{
    padding: 0 0 0 35px;
}
.travel_2weeks{
    /*text-shadow: 0 0px 10px blue,0 0px 5px red;*/
    font-size: 19px;
    padding-bottom: 20px;
    padding-top: 5px;
    color: red;
    text-align: left;
    /*    -webkit-animation: color-change 1s infinite;
        -moz-animation: color-change 1s infinite;
        -o-animation: color-change 1s infinite;
        -ms-animation: color-change 1s infinite;
        animation: color-change 1s infinite;*/
}

@-webkit-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-moz-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-ms-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@-o-keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
@keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
}
.right_gift_part{
    margin: 0;
    padding: 0;
    text-align: center;
}
.booking_msg{margin:0 0 25px 0px}
.info_msg_booking{ font-size: 12px;margin: 10px 0;}
.middle_part_card{
    margin: 0 3px;
    background-color: black;
    box-shadow: 0px 0 5px black;
    padding-bottom: 15px;
}
.middle_part_card form{
    margin: 0;
}
.middle_part_card .card_label{
    color: white;

}
.middle_part_card .part0 .card_label{ font-size: 60px; } 
.middle_part_card .part1 .card_label{ font-size: 23px; } 
.middle_part_card .part2 .card_label{ font-size: 17px; }
.middle_part_card .part3 .card_label{ font-size: 25px; font-weight: bold; text-align: justify; padding: 0 40px; }
.middle_part_card .part4 .card_label{ font-size: 22px;}
.middle_part_card .part5 .card_label{ font-size: 21px; font-weight: bold; text-align: center; padding: 0 40px; }
.middle_part_card .part5 .card_label > a{ color: yellow; }
.middle_part_card .part6 .card_label{ font-size: 21px; font-weight: bold; text-align: left; padding: 0 40px; }
.middle_part_card .part8 .card_label{ font-size: 21px; font-weight: bold; text-align: left; padding: 0 40px; }
.middle_part_card .part6 ol{ font-size: 21px; font-weight: bold; text-align: left; padding: 0px 0 0 64px; color: white;}
.middle_part_card .part6 ol li{padding: 5px 0; }
.middle_part_card .part7 .card_label{ font-size: 21px; font-weight: bold; text-align: center; padding: 0 40px; }
.middle_part_card .part8 .card_label{ font-size: 21px; font-weight: bold; text-align: left; padding: 0 40px; }
.middle_part_card .radio_div input{
    clear: left;
    display: table-cell;
}
.middle_part_card .radio_div{
    background-color: white;
    margin: 0 0 0 18px;
    text-align: left;
    padding: 6px;
    border-radius: 3px;
    display: table;
}
.middle_part_card .part2_termofuse_div{
    color: lightyellow;
    margin: 0;
    text-align: left;
    padding: 0 30px 0 0;
}
.middle_part_card .part2_termofuse_div a{
    color: #459fec;
}