body{
	padding : 0px;
	margin : 0px;
	/*background-color: gray; */
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');


h1,h2,h3,h4,p,a{
	font-family: inherit;
}
/*   ---- Navbar Header -----   */
.container{
	padding-left: 0px;
    padding-right: 0px;
    width: 96%;
}
.logo {
	width: 30%;
	/*text-align: center;*/
	margin : 0px;
	float: left;
}
.logo h3{
	color: white;
	text-align: left;
	margin-bottom: 3px;
}
.small-deivice-logo{
	display: none;
	visibility: hidden;
}
nav{
	background: #ffffff;
    line-height: 37px;
    padding: 0px!important;
}
.navbar-right{
	width: 60%;
	text-align: center;
	float: right;
}
.navbar-right ul{
	list-style-type: none;
	text-align: center;
	float: right;
	margin-bottom: 0px;
	line-height: 65px;
}
.navbar-right ul li{
	display: block;
    float: left;
    /* margin-right: 21px; */
    /*width: 70px;*/
    text-align: center;
    color: #c3c3c3;
}
.navbar-right ul li::after{
	content: '';
	height: 20px;
	width: 2px;

}
.navbar-right ul li img{
	height: 36px;
    width: 37px;
    background: white;
    border-radius: 50%;
}
.navbar-right ul li a{
	color: #06676d;
    padding: 0px 23px;
    font-size: 14px;
    text-decoration: none;
}
.navbar-right ul li a:hover{
	color: black;
	transition: 0.3s all ease;
}
.navbar-border{
	border-right: 1px solid #ccc;
    line-height: 8px;
}

/* -- navbar bottom -- */
.header-bottom{
	background-color: #373f41;
    height: 47px;
    line-height: 42px;
    border-bottom: 2px solid #008c94;
}
.header-bottom ul{
	list-style-type: none;
	margin: 0px;
	width: 100%;
	height: 47px;
    padding-left: 0px;
}
.header-bottom ul li {
	display: block;
	float: left;
}

.header-bottom ul li a{
	padding: 10px 23px 15px;
	font-size: 16px;
	color: #cacaca;
	text-decoration: none;
}
.header-bottom ul li a:hover{
	background: #008c94;
    transition: 0.3s all ease;
}
/*.active{
	background: #008c94;
    color: aliceblue!important;
}*/
.header-bottom-img{
	float: right;
	
}
.header-bottom-img img{
 	height: 40px;
 }
.header-bottom-ul{
	float: left;
}
/* -- slider -- */
.slider img{
	width: 100%;
}

/* -- banner search -- */
.banner{
	width: 100%;

}
.banner img{
	width: 100%;
}
.tj-search {
	width: 550px;
    margin: 0px auto;
    display: block;
    position: absolute;
    min-height: 115px;
    background-image: url(../images/bg.png);
    right: 0;
    left: 0px;
    top: 38%;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;

}
.tj-search input{
	float: left;
}
.tj-search .fa{
	font-size: 22px;
	/*font-size: 22px;*/
    padding: 8px;
    background: transparent;
    color: #008c94;
    /*border: 1px 1px 1px 1px solid;
    border-top: 1px solid #035f65;
    border-right: 1px solid #035f65;
    border-bottom: 1px solid #035f65;*/
}
.tj-search-head h3{
	font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #0d4b34;
    margin-bottom: 0px;
}
.tj-search-left{
	width: 60%;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
    display: block;

}
.tj-search-left-bg{
	width: 100%;
    background: transparent;
    border: 1px solid #008c94;
    height: 40px;
}
.tj-search-left-bg img{
	height: 38px;
    width: auto;
    padding: 5px;
}
.tj-search-right{
	width: 30%;
    float: left;
    margin-top: 19px;
}
.tj-search-right a{
	text-decoration: none;
	outline: none;
}
.tj-location{
	height: 35px;
    float: left;
}
.tj-search-icon{
	height: 38px;
	float: right;
}
.tj-search-input{
	width: 84%;
    float: left;
}
input.tj-input{
	width: 100%;
	border: none;
	padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    background: transparent;
    line-height: 24px;
    text-align: center;
    
}
.tj-search-left-bg input:focus{
	outline: none;
}
.tj-search-left-bg input:focus::-webkit-input-placeholder {
	outline:  none;
	/*background: #fff;*/
	color:transparent;

}
.tj-search-left-bg input:active{
	outline:  none;
	background: #fff;

}

.tj-search-left-bg input::placeholder {
    color: #4c4b4b;
    opacity: 1; /* Firefox */
}
.tj-search-right-bg {
	/*position: relative;*/
    /*top: 35px;*/
    line-height: 34px;
}
.tj-search-right-bg img{
	height: 35px;
    width: auto;
    float: left;
}
.tj-search-right-bg .fa{
	float: left;
	font-size: 36px;
    color: #f31522;
    padding: 0px;
}
.tj-search-right-bg p{
	color: #021f14;
    font-size: 18px;
}
.tj-search-footer{
	text-align: center;
    margin-top: 15px;
}
.tj-search-footer p{
	font-size: 18px;
    font-weight: 500;
    color: #353531;
    line-height: 21px;
}
.tj-search-footer p span{
	font-weight: 700;
    font-size: 19px;
    color: #506b36;
    font-family: sans-serif;
}
.tj-button{
	background: none;
    color: #544e4e;
    outline: none;
    border: none;
}
.tj-button:hover{
	background : none;
	outline: none;
	border: none;
	color: #544e4e;
}
.tj-button:focus{
	outline: none;
}
.tj-dropdown:focus{
	outline: none;	
}
.tj-dropdown button:active{
	background-color:  none!important;
	background: none!important;
	border-color : none!important;
	color: #5f5e5e!important;
}
.tj-dropdown:active{
	background: none;
	outline: none;
	border: none;
}
ul.dropdown-menu {
	border-top: 1px solid #fff;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #989898;
    border-radius: 0px;
}
.tj-dropdown-menu{
	min-width: 25rem;
	padding: 10px!important;
	background-color: #fff!important;
	/*margin-top: 8px;*/
}
.tj-dropdown a{
	color: #333333;
	text-decoration: none;
	outline: none;
	font-size: 15px;
	font-weight: 500;
}
.tj-list{
	height: 19px;
	width: 100%;
	line-height: 14px;
	padding: 2px;
}
/*.tj-list:hover{
	background: #ccc;
}*/
.tj-list-left{
	float: left;
	width: 15%;
}
.tj-list-middle
{
	width: 60%;
	float: left;
}
.tj-list-right
{
	width: 25%;
	float: right;
	
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/* -- tj-body -- */
.tj-map{
	width: 100%;
	height: 125px;
	display: block;
	border: 2px solid #024029;
	background-image: url(../images/map-1.png);
	background-size: cover;
    background-repeat: no-repeat;
		
}
.tj-map-1{
	background-image: url(../images/map-2.png)!important;
}
.tj-map-hover{
	transition: 1s ease all;
	-webkit-transition: 1s ease all;
	-moz-transition: 1s ease all;
	-o-transition: 1s ease all;
}
.tj-map-hover:hover{
	transform: scale(1.2,1.2);
	-webkit-transform: scale(1.2,1.2);
	-moz-transform: scale(1.2,1.2);
	-o-transform: scale(1.2,1.2);

}
.tj-offer{
	padding: 1px;
	width: 100%;
	height: 260px;
	display: block;
	border: 1px solid #0d4b34;
    background: #0d4b34;
    margin-bottom: 10px;
}
.tj-offer img{
	width: 100%;
	height: 100%;
	-webkit-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.tj-offer img:hover{
	-webkit-transform: scale(1.1,1.1)rotate(0deg);
	-ms-transform: scale(1.1,1.1)rotate(0deg);
	transform: scale(1.1,1.1)rotate(0deg);
	
}
.tj-hiring{
	padding: 1px;
	width: 100%;
	height: 260px;
	display: block;
	border: 1px solid #0d4b34;
    background: #0c584d;
    margin-bottom: 10px;
	/*border:1px solid #ccc;*/
	
}
.tj-hiring img{
	width: 100%;
	height: 100%;
	transition: all 1s ease;
}
.tj-hiring img:hover{
	transform: scale(1.1,1.1)rotate(0deg);
}
.tj-body{
	padding-top: 53px;
	padding-bottom: 10px;
	background: #fff;
}
.tj-map-top{
	width: 100%;
	height: 31px;
	display: block;
	/*background-color: #0d4b34ba;*/
	background-image: url(../images/map-bg.png);
	background-size: cover;
    background-repeat: no-repeat;

}
.tj-map-top h3{
	font-size: 15px;
	font-weight: normal;
	text-align: center;
	color: #fff;
	line-height: 28px;
	margin-top: 0px;
}
.tj-map-bottom{
	height: 99px;
	padding: 5px;
    /*s*/
}
.tj-map img{
	width: 100%;
	height: 88px;
	border-radius: 3px;
}
.t-gray{
	background: #6b6767;
}
.tj-gray h3{
	color: #fff;
}
.tj-map-1{
	margin-top: 10px;
	margin-bottom: 10px;
}
.tj-map-btn{
	width: 105px;
    background: #f11b27;
    text-align: center;
    color: aliceblue;
    height: 24px;
    position: absolute;
    right: 0px;
    top: 24%;
    left: 0px;
    margin: 0px auto;
    border-radius: 4px;
    line-height: 15px;
}
.tj-map-btn p{
	font-size: 13px;
    margin-bottom: 0px;
    margin-top: 4px;
}
.tj-map-bottom a{
	text-decoration: none;
	color: #fff;
}
.tj-map-btn-1{
	width: 105px;
    background: #f11b27;
    text-align: center;
    color: aliceblue;
    height: 24px;
    /*position: absolute;*/
    bottom: 38px;
    right: 0px;
    left: 0px;
    margin: 44px auto;
    border-radius: 3px;
    line-height: 23px;
}
.tj-map-btn-1 p{
	font-size: 13px;
    margin-bottom: 0px;
    margin-top: 4px;
}
/*.tj-offer img{
	height: 254px;
    width: 100%;
}*/
/*.tj-hiring img{
	height: 258px;
    width: 100%;
}*/
.tj-gray{
	/*background-color: #6b6767a8;*/
	background-image: url(../images/map-bg-1.png)!important;
	background-size: cover;
    background-repeat: no-repeat;
}
.t-white{
	background: #f9f9f9;
}
/*--  nav design  --*/
.navbar-expand-md .navbar-nav .nav-link{
	padding-right: .9rem;
	padding-left: .9rem;
}


/*-- deals css -- */
@-webkit-keyframes L_circle_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes L_circle_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes L_stroke_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}12.5%{-webkit-transform:rotate(135deg);transform:rotate(135deg)}25%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}37.5%{-webkit-transform:rotate(405deg);transform:rotate(405deg)}50%{-webkit-transform:rotate(540deg);transform:rotate(540deg)}62.5%{-webkit-transform:rotate(675deg);transform:rotate(675deg)}75%{-webkit-transform:rotate(810deg);transform:rotate(810deg)}87.5%{-webkit-transform:rotate(945deg);transform:rotate(945deg)}100%{-webkit-transform:rotate(1080deg);transform:rotate(1080deg)}}@keyframes L_stroke_rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}12.5%{-webkit-transform:rotate(135deg);transform:rotate(135deg)}25%{-webkit-transform:rotate(270deg);transform:rotate(270deg)}37.5%{-webkit-transform:rotate(405deg);transform:rotate(405deg)}50%{-webkit-transform:rotate(540deg);transform:rotate(540deg)}62.5%{-webkit-transform:rotate(675deg);transform:rotate(675deg)}75%{-webkit-transform:rotate(810deg);transform:rotate(810deg)}87.5%{-webkit-transform:rotate(945deg);transform:rotate(945deg)}100%{-webkit-transform:rotate(1080deg);transform:rotate(1080deg)}}@-webkit-keyframes L_stroke_left_grow{0%,100%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}50%{-webkit-transform:rotate(-140deg);transform:rotate(-140deg)}}@keyframes L_stroke_left_grow{0%,100%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}50%{-webkit-transform:rotate(-140deg);transform:rotate(-140deg)}}@-webkit-keyframes L_stroke_right_grow{0%,100%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}50%{-webkit-transform:rotate(140deg);transform:rotate(140deg)}}@keyframes L_stroke_right_grow{0%,100%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}50%{-webkit-transform:rotate(140deg);transform:rotate(140deg)}}.loader-circle{top:50%;left:50%;z-index:1;color:#444;margin-top:-1em;margin-left:-1em;position:absolute;-webkit-animation:L_circle_rotate 1.568s linear infinite both;animation:L_circle_rotate 1.568s linear infinite both}.loader-circle .loader-stroke-left:before,.loader-circle .loader-stroke-right:before,.loader-circle:before{content:'';display:block;border-style:solid;border-width:.21429em;border-color:currentColor}.loader-circle,.loader-circle .loader-stroke-left,.loader-circle .loader-stroke-left:before,.loader-circle .loader-stroke-right,.loader-circle .loader-stroke-right:before,.loader-circle:before{width:2em;height:2em;border-radius:50%;-webkit-box-sizing:border-box;box-sizing:border-box}.loader-circle .loader-stroke-left:before,.loader-circle .loader-stroke-right{position:absolute;clip:rect(0 2em 2em 1em)}.loader-circle .loader-stroke-left,.loader-circle .loader-stroke-right:before{position:absolute;clip:rect(0 1em 2em 0)}.loader-circle:before{position:absolute;clip:rect(0 1.05em 1em .95em)}.loader-circle .loader-stroke-left,.loader-circle .loader-stroke-right,.loader-circle:before{-webkit-animation:L_stroke_rotate 5332ms cubic-bezier(.4,0,.2,1) infinite both;animation:L_stroke_rotate 5332ms cubic-bezier(.4,0,.2,1) infinite both}.loader-circle .loader-stroke-right:before{-webkit-animation:L_stroke_right_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both;animation:L_stroke_right_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both}.loader-circle .loader-stroke-left:before{-webkit-animation:L_stroke_left_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both;animation:L_stroke_left_grow 1333ms cubic-bezier(.4,0,.2,1) infinite both}
.mhn-slide .mhn-item{width:100%;padding:10px;    transition: 0.5s ease all;
		-webkit-transition: 0.5s ease all;
		-moz-transition: 0.5s ease all;
		-o-transition: 0.5s ease all;
		}
.mhn-slide .mhn-item:hover{    transform: translateY(-5px);
		-webkit-transform: translateY(-5px);
		-moz-transform: translateY(-5px);
		-o-transform: translateY(-5px);
}
.mhn-slide .mhn-inner{background: white;width:100%;height:100%;-webkit-box-shadow:0 2px 10px 0 rgba(0,0,0,.16),0 2px 5px 0 rgba(0,0,0,.26);box-shadow:0 2px 10px 0 rgba(0,0,0,.16),0 2px 5px 0 rgba(0,0,0,.26);border-radius:3px}

.mhn-slide .mhn-item img{display:block}
.mhn-slide .mhn-img{min-height:200px;overflow:hidden;height:100%;width:100%;color:white;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=) #eee no-repeat center/cover;position:relative}
.mhn-slide .mhn-text{text-align:center;padding:0 10px}
.mhn-slide .mhn-text h4{font-weight:500;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.mhn-slide .mhn-text p{max-height:4.5em;overflow:hidden}
.mhn-slide .owl-stage-outer{z-index:1}
.mhn-slide .owl-nav{color:#333;position:absolute;top:0;left:0;right:0;bottom:0}
.mhn-slide .owl-nav svg{color:currentColor}
.mhn-slide .owl-nav .disabled{display:none}
.mhn-slide .owl-prev,
.mhn-slide .owl-next{
	top:183px;
	z-index:2;
	width:25px;
	height:41px;
	padding:0px;
	margin-top: 0px;
	position:absolute;
	border-radius:9%;
	background-color:#fff;
	-webkit-box-shadow:0 4px 4px rgba(0,0,0,.3),0 0 4px rgba(0,0,0,.2);
	        box-shadow:0 4px 4px rgba(0,0,0,.3),0 0 4px rgba(0,0,0,.2)
}
.mhn-slide .owl-prev{left:-7px}
.mhn-slide .owl-next{right:-7px}
.owl-nav svg{
	margin-top: 8px;
}
.mhn-text{
	min-height: 144px;
}
.mhn-text h4{
	margin-top: 18px;
	font-size: 20px;
	margin-bottom: 4px;
	color: #515252;
}
.mhn-text label{
	font-weight: 500;
	margin-bottom: 0px;
	color: #545556;
}
.mhn-text p{
	color: #545556;
	margin: 0 0 0px;

}
.mhn-text p span{
	font-size: 27px;
    color: #d03535;
    font-weight: 700;
    font-family: sans-serif;
}
.mhn-bottom{
	text-align: center;
    min-height: 53px;
    border-top: 1px solid #e8e8e8;
    padding-top: 16px;
}
.mhn-bottom a{
	padding: 8px 28px;
    background: #097f80;
    text-align: center;
    border-radius: 3px;
    color: aliceblue;
    text-decoration: none;
}
.tj-offer-percent{
	float: right;
    background: url(../images/offer.png);
    background-size: cover;
    min-height: 40px;
    width: 89px;
    margin-top: 6px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.tj-offer-percent p{
	text-align: center;
    margin-top: 9px;
    font-size: 16px;
    font-weight: 500;
    float: right;
    margin-right: 4px;
    color: white;

}
.tj-offer-percent p span{
	font-size: 12px;
}









/*    -----   new style  ----  */
/*.navbar-nav {
  margin: 7.5px -15px;
}*/

/*--  Header ---*/
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover
{
	color: #fff;
  background-color: #31c18c;
}

.container{
	padding-left: 0px;
 	padding-right: 0px;
}
@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
	transform: rotate(-90deg);
    }
}

.tj-navbar{
    background-color: #373f41;
    margin-bottom: 0px;
    border: none;
    border-radius: 0px;
    /*height: 50px;*/
}
.dropdown-menu{
	background-color: #373f41;
	padding: 0px 0px;
}
.dropdown-menu>li>a{
	color: white;
	padding: 5px 20px;
}
.dropdown-menu>li>a:hover{
	color: white;
	
}
/* --  Dropdown --- */
.tj-collapse ul li a img:hover{
	background-image: url(../images/dots-black.png)
}
.tj-collapse .dropdown-menu li a{
	color: #bdbdbd;
}
.tj-collapse .dropdown-menu li a:hover{
	color: #fff!important;
}

.tj-collapse{
	padding-left: 0px;
	padding-right: 0px;
}
.tj-collapse img{
	height: 18px;
}
.tj-collapse .navbar-nav li a{
	    color: #dedede;
	    font-family: inherit;
    	font-weight: normal;
}
.tj-collapse .navbar-nav li a:hover{
	color: #fff!important;
	background-color: #0f6885!important;
	transition: 0.4s ease all;
}
.tj-second-ul{
	float: right;
}
.fa-ellipsis-h{
	font-size: 25px;
}
.tj-dropdown li a{
	color: #7a7b7b!important;
}

/*-- mega menu ---*/
	.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
  width: 90%;
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

ul.tj-border-r{
	
	border-right: 1px solid #4e4e4e;
}

li.dropdown-header{
	color: white!important;
}
.navbar-nav .open a:focus{
	color: #fff;
    background-color: #31c18c!important;
}
.navbar-nav .open a:hover{
	
    background-color: #31c18c!important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{	
	color: #fff;
	background-color: #31c18c!important;
}
.rj-restaurant ul li{
	width: 100% !important;
}
a.rj-a:hover{
	background: none !important;

}
.dropdown-header-left{
	float: left;
}
.dropdown-header-left h3{
	margin-top: 0px;
	font-size: 21px;
}
.dropdown-header-right{
	float: right;
}
.dropdown-border{
	/*border-bottom: 1px solid #7b7b7b;*/

	padding: 5px 0px 5px 0px!important;
}
.dropdown-body{
	margin-bottom: 10px;
}
.dropdown-body img{
	width: 100%;
	height: auto;
	border-radius: 2px;
    border: 1px solid #c3c3c3;
 	transition: 1s ease all;
	-webkit-transition: 1s ease all;
	-moz-transition: 1s ease all;
	-o-transition: 1s ease all;
}
.dropdown-body img:hover{
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-o-transform: translateY(-5px);

}   


/*-- dropdown sub menu --*/

.dropdown-menu .tj-submenu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:0px;margin-left:-1px;
   -webkit-border-radius:0 0px 0px 0px;-moz-border-radius:0 0px 0px 0px;border-radius:0 0px 0px 0px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;

}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.tj-submenu > li > a:hover, .tj-submenu > .active > a:hover {
  text-decoration: none;
}  
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .tj-submenu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .tj-submenu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .tj-submenu > li > a:hover,
   .navbar-default .navbar-nav .open .tj-submenu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .tj-submenu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .tj-submenu {
      padding-left: 10px;
  }
  .tj-submenu .tj-submenu {
      padding-left: 20px;
   }
   .tj-submenu .tj-submenu .tj-submenu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.tj-submenu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  

	
/*-- Drop Down Sub Menu Ends */

/* -- tj-modal -- */
.tj-modal-content{
	border-radius:3px;
}
.tj-modal-search{
	 width: 100%;
    float: left;
    margin-top: 15px;
    display: block;
}
.tj-modal-bg{
	width: 100%;
    background: transparent;
    border: 1px solid #008c94;
    height: 39px;
}
.tj-modal-input{
	width: 90%;
    float: left;
}
.modal-input{
	width: 100%;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 7px;
    background: transparent;
    outline: none;
    line-height: 37px;
}
.tj-modal-icon{
	width: 10%;
	float: right;
    padding: 5px;
}
.tj-modal-icon img{
	height: 26px;
    width: auto;
    float: left;
    
}
.tj-modal-header-bottom{
    width: 100%;
    height: 32px;
    /*background: #f7f7f7;*/
    text-align: center;
}
.tj-modal-header-bottom ul{
	list-style-type: none;
	padding: 0px 25px;
	height: 31px;
    text-align: center;
    margin: 7px auto;
}
.tj-modal-header-bottom ul li{
	float: left;
	font-family: sans-serif;
}
.tj-modal-header-bottom ul li a{
	padding: 5px;
	font-size: 14px;
    font-weight: 600;
}
.modal-button-1{
	float: left;
}
.modal-button-1 a{
	 padding: 10px;
    background: #038d95;
    color: aliceblue;
    text-decoration: none;
    border :1px solid #038d95;
}
.modal-button-2{
	float: left;
}
.modal-button-2 a{
	padding: 10px;
    /* background: #038d95; */
    color: #038d95;
    text-decoration: none;
    border: 1px solid;
    margin-left: 10px;
}
.modal-body ul li{
	line-height: 20px;
    font-size: 15px;
}
.modal-body-content ul{
	padding: 0px;
    list-style-type: none;
    line-height: 22px;
}
.modal-body-content h3{
	font-size: 17px;
    font-weight: 600;
    color: #038d95;
}
.modal-footer a{
	padding: 10px;
    background: #038d95;
    color: aliceblue;
    text-decoration: none;
    border: 1px solid #038d95;
}
.modal-header .close {
	position: absolute;
    right: -13px;
    top: -9px;
    background-color: #038d95;
    border-radius: 50%;
    padding: 5px;
    color: white;
    z-index: 999;
    opacity: 2;
    width: 30px;
    outline: none;
    text-align: center;
}
.tj-modal-header{
	border-bottom: none !important;
}
.tj-modal-footer{
	border-top: 1px solid #038d95;
}
/* --  tj-carousel*/

.tj-carousel{
	padding-top: 0px;
	padding-bottom: 30px;
	background: #fff;
}
.tj-carousel-body{
	padding-top: 35px;
}
.tj-carousel-head {
	line-height: 47px;
    min-height: 40px;
}
.tj-carousel-head h3{
	float: left;
	text-align: center;
    padding-bottom: 0px;
    color: #00315b;
    font-weight: 600;
    font-size: 19px;
    padding-left: 10px;
}
.tj-carousel-head a{
	float: right;
	float: right;
    margin-right: 10px;
    background: #f11b27;
    padding: 0px 21px;
    line-height: 36px;
    color: aliceblue;
    outline: none;
    text-decoration: none;
}
/*.tj-carousel h3{
	text-align: center;
    padding-bottom: 15px;
    color: #00315b;
    font-weight: 600;
}
*/
.tj-see-more a{
	padding: 7px 16px;
    background-color: #097f80;
    color: white;
    outline:none;
    text-decoration: none;
    border-radius: 3px;
}
.tj-see-more{
	margin-top: 24px;
}
/* -- tj-categorie --*/
.tj-categories{
	padding: 25px 6px;
	background: #e4e4e4;
    /*border-top: 1px solid #efefef;*/
}
.tj-categories ul{
	list-style-type: none;
	padding: 0px;
}
.tj-categories h3{

	font-size: 18px;
	color: #6f6f6f;
	/*text-align: center;*/
}
.tj-categories li a{
	color: #838384;
    text-decoration: none;
}
.cross-offer p{
	text-decoration: line-through;
}


/* -- tj-clients -- */
.tj-client{
	padding: 19px 0px;
    margin-bottom: 0px;
    background: #e4e4e4;
}
.tj-client h3{
	text-align: center;
    padding-bottom: 15px;
    color: #00315b;
    font-weight: 600;
}
.tj-client h3:after{
	content: '';
    height: 3px;
    width: 5%;
    text-align: center;
    margin: 0px auto;
    background-color: #00315b;
    /* position: static; */
    display: block;
    margin-top: 7px;
}
.oc-item{
    border: 1px solid #ccc;
}
/*--  zig-zag -- */
.zig-zag{
	background: #e4e4e4;
}
.zig-zag img{
	width: 100%;
}


/* --  tj-footer -- */
.tj-footer{
	padding: 25px 6px;
	background-color: #484a4c;
}
.tj-footer ul{
	list-style-type: none;
	padding: 0px;
}
.tj-footer h3{

	font-size: 18px;
	color: #ececec;
	/*margin-left: 38px;*/
}
.tj-footer li a{
	color: #838384;
    text-decoration: none;
}
.page-bottom{
	background: black;
    line-height: 47px;
    color: #737171;
}
.tj-newsletter{
	padding: 30px 16px;
}
.tj-newsletter h3{
	margin-bottom: 3px;
	text-align: center;
}
.tj-newsletter p{
	text-align: center;
	color: #ccc;
}
.tj-newsletter-form form{
	text-align: center;
}
.tj-newsletter-form input{
	border: 0px;
    padding: 3px;
    /* background-color: beige; */
    border-radius: 2px;
    outline: none;
    margin-bottom: 5px;
}

.tj-n-button {
	background: #028586;
    color: white;
    padding: 3px 12px!important;
}



/* -- tj-hotel --*/
.tj-hotel{
	position: absolute;
    top: 29%;
    max-width: 900px;
    height: 200px;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    padding: 10px;
    /*background: aliceblue;*/
}
.date{
	padding-left: 0px;
	padding-right: 0px;
}
.tj-hotel-header{
	width: 100%;
    min-height: 50px;
    margin: 0px;
    padding: 0px;
    background: #dadada;
}
.tj-hotel-header h3{
	    padding: 0px;
    margin: 0px;
    text-align: left;
    line-height: 51px;
    font-weight: 600;
    color: #595a5a;
}
.tj-hotel-body{
	background: #fff;	
	min-height: 147px;
}
.card{
	padding: 13px 3px;
}


/*<!-- second page map detail -->*/

.banner2{
	width: 100%;
    min-height: 150px;
    text-align: center;
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.location-path{
	text-align: left;
    padding: 40px 0px;
}
.location-path p{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}
.tj-search-bg1{
	 min-height: 93px;
	 width: 560px;
    /* padding: 40px 0px; */
    /*background: #f0f8ffa1;*/
    text-align: center;
    margin: 24px auto;
    padding: 19px;
    border-radius: 14px;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.tj-search-left1{
	width: 360px;
    float: left;
    /*margin-top: 15px;
    margin-left: 25px;*/
    margin: 8px 0px;
    display: block;
    margin-left: 17px;
}
.tj-search-right1 {
    min-width: 140px;
    float: left;
    margin-top: 9px;
}
.tj-search-right1 a {
    text-decoration: none;
    outline: none;
}
.fat-saving{
	 padding: 40px 0px;
	text-align: center;
}
.fat-saving p{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
}
.fat-saving span{
	font-weight: 700;
    font-size: 22px;
    color: #ffffff;
    font-family: sans-serif;
}

.map-detail{
	padding: 20px 0;
	padding-bottom: 35px;
}
.map1{
	padding-left: 0px;
}
.map3{
	padding-right: 0px;
}
.map1-header{
	height: 50px;
    background: #c1c1c1;
}
.map1-header h3{
	line-height: 51px;
    text-align: center;
    color: #58595a;
    font-size: 19px
}
.map2-header{
	height: 50px;
    background: #0d4b34;
    color: #eaeaea;
}
.map2-header h3{
	line-height: 50px;
    text-align: center;
    font-size: 19px

}
.map3-header{
	height: 50px;
    background: #ee952d;
    color: #eaeaea;
}
.map3-header h3{
	line-height: 50px;
    text-align: center;
    color: #2f2f2f;
 	font-size: 19px;
}
.md-body-overflow {
	height: 590px;
    overflow: auto;
}
.md-body-left {
	width: 60%;
	float: left;
	padding-left: 5px;
}
.md-body-center{
	width: 15%;
	float: left;

}

.md-body-right {
	width: 25%;
	float: right;
}
.md-body-content{
	min-height: 118px;
	border-bottom: 1px solid #e2e2e2;
	padding: 10px;
}
.md-body-border{

}
.md-body-content h3{
	font-size: 16px;
    margin-top: 2px;
    color: #323333;
    margin-bottom: 4px;
}
.md-body-center h3{
	font-size: 17px;
    color: #008c94;
    margin-top: 7px;
    margin-bottom: 0px;
    text-align: center;
}
.md-body-center p{
	margin-bottom: 0px;
    text-align: center;
    text-decoration: line-through;
    color: #9c9fa0;
}
.md-body-img{
	padding: 0px 0px;
    display: block;
    /*width: 25%;*/
    float: right;
    /*display: flex;*/
}
.md-body-img img{
	width: 100%;

}
.md-body{
	min-height: 626px;
	/*background: #eee;*/
	border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.md-body-bottom{
	height: 30px;
    text-align: center;
    padding: 7px;
}
.md-body-bottom p{
	color: #777777;
}

/* */
/* Rating Star Widgets Style */
.tj-star{
	width: 100%;
}
.rating-stars ul {
  list-style-type:none;
  padding:0;
  width: 110px;
  float: left;
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:1em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
.rating-stars p{
	color: grey;
}
.tj-rating{
	width: 23px;
    float: left;
}
.md-body-text{
	margin-top: -4px;
	width: 100%;
	float: left;
}
.md-body-text p{
	font-size: 13px;
    color: #858788;
    margin-bottom: 0px;
    line-height: 16px;
}
.md-body-text p span{
	font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}



/*---- tj category and deals sections ----*/


.tj-c-d{

}
.tj-cat{
	padding-left: 0px;
	padding-right: 15px;
}
.tj-deals{
	padding-right: 0px;
	padding-left: 15px;
}
.tj-cat-header{
	height: 50px;
    background: #c77414	;
    color: #fff;
}
.tj-cat-header h3{
	line-height: 50px;
	text-align: center;
}
.tj-deals-header{
	height: 50px;
    background: #9a9a9a	;
    color: #fff;	
}
.tj-deals-header h3{
	line-height: 50px;
    text-align: center;
    color: #fff;
}
.tj-cat-body{
	min-height: 1059px;
	border:1px solid #ccc;
	padding: 10px;
}
.tj-deals-body{
	min-height: 300px;
	border :1px solid #ccc;
}
.tj-deals-2{
	margin-top: 30px;
}
.tj-deals-3{
	margin-top: 30px;
}
.tj-green{
	background : #0d4b34;
}
.tj-green h3{
	color: white;
}
.tj-yellow{
	background: #ee952d;
}
.cat-body-header{
	background: #e0e0e0;
    height: 29px;
    padding: 7px 7px 7px 15px;
}
.cat-body-header h3{
	margin: 0px;
    font-size: 17px;
    /*line-height: 29px;*/
    color: #0d4b34;
    font-weight: 600;
}
.cat-body-content{
	margin-top: 10px;
}
.cat-body-content a{
	color: #727373;
}
.cat-body{
	padding: 9px 0px 0px;
    min-height: 70px;
    border-bottom: 2px dashed #ccc;
}
.cat-body-1{
	min-height: 122px;
}
.cat-body-2{
	min-height: 95px;
}
.cat-body-3{
	min-height: none;
	border-bottom: none;
}
.cat-body p{
	margin: 0px;
    font-size: 11px;
    color: #888484;
    line-height: 26px;
}
.cat-body p a{
	text-decoration: none;
}
.cat-body p a span{
	color: #0d4b34;
	 font-size: 13px;
	 text-decoration: underline;
}
.deals-body{
	height: 110px;
    padding: 9px;
}
.deals-content{
	min-height: 110px;
	border-bottom: 2px dashed #ccc;
}
.dc-1{
	margin-top: 10px;
}
.deals-b-img{
	padding-left: 0px;
	padding-right: 0px;
}
.deals-body-img{
	text-align: left;
}

.deals-text{
	padding: 23px 0px;
}
.deals-text h3{
	font-size: 16px;
    font-weight: 600;
    color: #6b6b6b;
    margin: 0px;
    margin-bottom: 5px;
}
.deals-text p{
	font-size: 12px;
    text-align: left;
    margin: 0px;
    color: #9a9b9c;
}
.deals-rating ul{
	list-style-type: none;
    /* line-height: 18px; */
    height: 25px;
    padding-left: 0px;
    margin: 0px;

}
.deals-rating {
	text-align: center;
    padding: 12px 0px;
    width: 82px;
    float: right;
}
.deals-rating ul li{
	float: left;
	padding: 2px;
}
.deals-button{
	padding: 30px 0px;
    max-width: 107px;
    height: auto;
    float: right;
}
.deals-button a{
	padding: 10px 14px;
    background: #de3232;
    color: white;
    outline: none;
    text-decoration: none;
}
.deals-body-bottom{
    height: 50px;
    text-align: center;
    padding-top: 20px;

}
.deals-body-bottom a{
	padding: 10px 50px;
	background: #0d4b34;
	color: white;
    text-decoration: none;
    outline: none;
}

/*scrollbar start*/
::-webkit-scrollbar {
   width: 8px;
  background-color: #F5F5F5;
}

/ Track /
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #96A6BF, #63738C);
  box-shadow: inset 0 0 1px 1px #5C6670;
}
 
/ Handle /
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
  box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3)
}

/ Handle on hover /
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(left, #8391A6, #536175);
}

/*scrollbar end*/

#gotop{
	z-index: 9999;
	background-color: #097f80!important;
}
.mobile-menu{
	visibility: none;
	display: none;
}